<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <%- include('partials/header.html') -%>
</head>
<body>
    <%- include('components/navbar.html')%>
    <div class="container">
        <div class="col-md-8 mx-auto">
            <div class="card rounded top">
                <div class="card-body">
                    <h3 class="text-center" > <%- response[response.length - 1].temperatureMedium.toFixed(2) -%> °</h3>
                    <%if( response[response.length - 1].notPresenceOfGases > response[response.length - 1].presenceOfGases) {%>
                        <p class="text-center">Without the presence of gases</p> 
                    <%} else {%>
                        <p class="text-center">With the presence of gases</p>
                    <%}%>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.html') -%>
</body>
</html>